version: '3.1'

volumes:
  postgres_data:

services:

# --- apps ---

  web:
    image: financial_manager:testing
    platform: linux/amd64
    depends_on:
      _init-migrations:
        condition: service_completed_successfully
      # rmq:
      #   condition: service_healthy
    env_file:
      - docker.env
    volumes:
      - ../src/modules:/opt/financial_manager/modules
    ports:
      - 8000:8000
    command: uvicorn modules.web.main:app --host "0.0.0.0" --port 8000 --reload

  # jobs:
  #   image: financial_manager:testing
  #   platform: linux/amd64
  #   depends_on:
  #     _init-migrations:
  #       condition: service_completed_successfully
  #   env_file:
  #     - docker.env
  #   volumes:
  #     - ../src/modules:/opt/financial_manager/modules
  #   command: dramatiq -p 1 modules.jobs.main
    
  # scheduler:
  #   image: financial_manager:testing
  #   platform: linux/amd64
  #   depends_on:
  #     _init-migrations:
  #       condition: service_completed_successfully
  #   env_file:
  #     - docker.env
  #   volumes:
  #     - ../src/modules:/opt/financial_manager/modules
  #   command: python -m modules.jobs.scheduler

# --- tests ---

  downgrade-migrations-tests:
    image: financial_manager:testing
    depends_on:
      _init-migrations:
        condition: service_completed_successfully
    env_file:
      - docker.env
    volumes:
      - ../src:/opt/financial_manager/
    command: alembic downgrade base

# ---

  _init-migrations:
    image: financial_manager:testing
    env_file:
      - docker.env
    volumes:
      - ../src/:/opt/financial_manager
    depends_on:
      _build-app:
        condition: service_completed_successfully
      db:
        condition: service_healthy
      adminer:
        condition: service_started
    command: alembic upgrade head

  _build-app:
    build:
      context: .
      dockerfile: Dockerfile
      target: "development-env"
    image: financial_manager:testing
    command: echo "ok!"

  # ---

  adminer:
    image: adminer:4.8.1
    restart: always
    ports:
      - 8080:8080

  db:
    image: postgres:16.0
    user: postgres
    healthcheck:
      test: ["CMD", "pg_isready"]
      timeout: 0.5s
      interval: 0.5s
      retries: 100
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - ./deps/db/:/docker-entrypoint-initdb.d/
      - postgres_data:/var/lib/postgresql/data

  # rmq:
  #   # login/password: user/password
  #   image: rabbitmq:3.12-management
  #   healthcheck:
  #     test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
  #     interval: 5s
  #     timeout: 1s
  #     retries: 10
  #   ports:
  #     - "5672:5672" # Порт для AMPQ
  #     - "15672:15672" # Порт для RabbitMQ Management UI
  #   volumes:
  #     - ./deps/rmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
  #     - ./deps/rmq/definitions.json:/etc/rabbitmq/definitions.json:rox
