version: '3.1'

volumes:
  postgres_data:

services:

# --- apps ---

  web:
    image: python-temlate:testing
    platform: linux/amd64
    depends_on:
      _init-migrations:
        condition: service_completed_successfully
      rmq:
        condition: service_healthy
    env_file:
      - modules/testing.env
    volumes:
      - ../src/modules:/opt/python-template/modules
    ports:
      - 8000:8000
    command: uvicorn modules.web.main:app --host "0.0.0.0" --port 8000 --reload

  jobs:
    image: python-temlate:testing
    platform: linux/amd64
    depends_on:
      _init-migrations:
        condition: service_completed_successfully
      rmq:
        condition: service_healthy
    env_file:
      - modules/testing.env
    volumes:
      - ../src/modules:/opt/python-template/modules
    command: dramatiq -p 1 modules.jobs.main
    
  scheduler:
    image: python-temlate:testing
    platform: linux/amd64
    depends_on:
      _init-migrations:
        condition: service_completed_successfully
      rmq:
        condition: service_healthy
    env_file:
      - modules/testing.env
    volumes:
      - ../src/modules:/opt/python-template/modules
    command: python -m modules.jobs.scheduler

# --- tests ---

  downgrade-migrations-tests:
    image: python-temlate:testing
    depends_on:
      _init-migrations:
        condition: service_completed_successfully
    env_file:
      - modules/testing.env
    volumes:
      - ../src:/opt/python-template/
    command: alembic downgrade base

# ---

  _init-migrations:
    image: python-temlate:testing
    env_file:
      - modules/testing.env
    volumes:
      - ../src/:/opt/python-template
    depends_on:
      _build-app:
        condition: service_completed_successfully
      db:
        condition: service_healthy
      adminer:
        condition: service_started
    command: alembic upgrade head

  _build-app:
    build:
      dockerfile: Dockerfile
      target: "development-env"
    image: python-temlate:testing
    command: echo "ok!"

  # ---

  adminer:
    image: adminer:4.8.1
    restart: always
    ports:
      - 8080:8080

  db:
    # image: acmp-docker.artifactory.astralinux.ru/postgres:v11.17_3
    image: postgres:16.0
    user: postgres
    healthcheck:
      test: ["CMD", "pg_isready"]
      timeout: 0.5s
      interval: 0.5s
      retries: 100
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - ./deps/db/:/docker-entrypoint-initdb.d/
      - postgres_data:/var/lib/postgresql/data

  rmq:
    # image: acmp-docker.artifactory.astralinux.ru/rabbitmq-server:v3.7.8_2
    # login/password: user/password
    image: rabbitmq:3.12-management
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s
      timeout: 1s
      retries: 10
    ports:
      - "5672:5672" # Порт для AMPQ
      - "15672:15672" # Порт для RabbitMQ Management UI
    volumes:
      - ./deps/rmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
      - ./deps/rmq/definitions.json:/etc/rabbitmq/definitions.json:rox
