version: '3.1'

volumes:
  postgres_data:

services:

# --- apps ---

  web:
    image: financial_manager:testing
    platform: linux/amd64
    depends_on:
      _init-migrations:
        condition: service_completed_successfully
    env_file:
      - docker.env
    volumes:
      - ../src/apps:/opt/financial_manager/apps
    ports:
      - 8000:8000
      - 5678:5678  # для remote debug
    command: python -m debugpy --listen 0.0.0.0:5678 -m uvicorn apps.web.main:app --host "0.0.0.0" --port 8000 --reload


# --- tests ---

  downgrade-migrations-tests:
    image: financial_manager:testing
    depends_on:
      _init-migrations:
        condition: service_completed_successfully
    env_file:
      - docker.env
    volumes:
      - ../src:/opt/financial_manager/
    command: alembic downgrade base

# ---

  _init-migrations:
    image: financial_manager:testing
    env_file:
      - docker.env
    volumes:
      - ../src/:/opt/financial_manager
    depends_on:
      _build-app:
        condition: service_completed_successfully
      db:
        condition: service_healthy
    command: alembic upgrade head

  _build-app:
    build:
      context: ../
      dockerfile: docker/Dockerfile
      target: "development-env"
    image: financial_manager:testing
    platform: linux/amd64
    command: echo "ok!"

  # ---

  db:
    image: postgres:16.0
    user: postgres
    healthcheck:
      test: ["CMD", "pg_isready"]
      timeout: 0.5s
      interval: 0.5s
      retries: 100
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=financial_manager
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
