[Unit]
Description="python-template-jobs service"
After=web.service
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
WorkingDirectory=/opt/python-template-service
ExecStart=/opt/acm/venvs/python-template-service/bin/python3 -m modules.jobs.scheduler
ExecReload=/bin/kill -HUP ${MAINPID}

Restart=always
RestartSec=60

StandardOutput=append:/var/log/acm/%N-service.log
StandardError=append:/var/log/acm/%N-service.log

[Install]
WantedBy=multi-user.target
