[Unit]
Description="python-template-web service"
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
WorkingDirectory=/opt/%N-service
#ExecStartPre=/opt/acm/venvs/%N-service/alembic_migration_helper.sh
ExecStart=-/opt/acm/venvs/%N-service/bin/uvicorn --host "0.0.0.0" --port 8099 "modules.web.main:app"
ExecReload=/bin/kill -HUP ${MAINPID}

Restart=always
RestartSec=1

StandardOutput=append:/var/log/acm/%N-service.log
StandardError=append:/var/log/acm/%N-service.log

[Install]
WantedBy=multi-user.target
